database_config.py
my_flask.tar
dbconfig.py
datasets/
nextcloud/archives
nextcloud/.env
nextcloud/dbconfig.py
nextcloud/__pycache__
works/__pycache__
__pycache__
nextcloud/temp
mining/dbconfig.py
mining/df2.csv
yandex2/
export_from_db.ipynb
*.png
*.csv

